<!-- ************** ng-template Directive ************* -->
<h2>ng-template</h2>
<div *ngIf="title=='Angular-Directives';else loading">
  <p> define template content that is only being rendered by Angular when you, <br>
    whether directly or indirectly, specifically instruct it to do so, <br>
    allowing you to have full control over how and when the content is displayed.</p>
</div>

<ng-template #loading>
  <!--  note: change the title name to see this working .-->
  <mat-spinner></mat-spinner>
  loading...
</ng-template>
<!--***********-->

<!--********** ng-container ***********-->
<h2>ng-container</h2>
<ng-container *ngIf="title=='Angular-Directives'">

  <p>The majot reason we are using ng-container is
    It will not behave as separate div or any element.
    So we don't have to bother about css style rendering issues.
  </p>

  <div *ngFor="let a of ary">
    <p>Array value inside the Div element is {{a}}</p>
  </div>
</ng-container>
<!--***********-->

<!--******* ng-content ******-->
<h2>ng-content</h2>
<ol>
  <li>Use ng-content when you want to pass some markup (ie HTML tag) inside your child component from the parent</li>
  <li><b>Only works with child component.</b> <em>So look at child component 😁 </em></li>
  <li>use this when you want markup from the parent.</li>
</ol>
<app-child>
  <div><p>Title is {{title}}</p></div>
</app-child>

<button [routerLink]="['/child']" mat-raised-button type="button">
  Go to child
</button>
<!--********-->

<!--*******ngTemplateOutlet*******-->
<h2>ngTemplateOutlet</h2>
<ol>
  <li>This is the proper way to render an html in angular template without using *ngFor directive</li>
  <li></li>
  <li></li>
</ol>

<ng-container *ngTemplateOutlet="loading"></ng-container>


<h4>ngTemplateOutlet with Property Value</h4>
<ol>
  <li>Property can be added by using <em>Semicolon(;)</em> and the <em>context:</em>Keyword.</li>
  <li>The let-(- is necessary)article is used to read property value</li>
</ol>
<ng-container *ngTemplateOutlet="loadingWithProperty; context:{article}"></ng-container>
<ng-template #loadingWithProperty let-article="article">
  <!--  note: change the title name to see this working .-->
  article name:  {{article.name}}
  <mat-spinner></mat-spinner>
  loading...
</ng-template>

<!--**********-->
